{% extends "blog/base.html" %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block css %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'users/test.css' %}">
{% endblock css %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <legend>Reset Password</legend>
            {{ form|crispy }}
            <div>
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
    
{% endblock content %}